.chat-container {
    max-width: 800px;
    margin: auto;
  }

  .chat-box {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
  }

  .message {
    margin-bottom: 10px;
  }

  #messages {
    overflow-y: auto;
    max-height: 300px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
  }
  .chatroom-block {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
  }
  .selected {
    background-color: #a0c5e8; /* Change the background color to your preferred highlight color */
  }